.login-box2 {
    color: white;
    font-size:0.9vw ;
  } 
  ol {
    list-style: none;
    padding: 0;
  }
  
  ol {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #1c1b1b;
  }
  .login-box2 {
    overflow-y: scroll;
    scrollbar-width: thin; /* Firefox scrollbar width */
    scrollbar-color: transparent transparent;
    height: 200px;
  } 

 .login-box2::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
  }
  
 .login-box2::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color of the thumb (the draggable part) */
  }
  
 .login-box2::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the track (the non-draggable part) */
  }