.login-box3 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  max-height: 600px;
  color: rgb(1, 1, 1);
  padding: 40px;
  transform: translate(-50%, -50%);
  /* overflow-y: scroll; */
  /* width: fit-content; */
  background-color: #79ece25a;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.user-box2 {
  /* overflow-y: auto; Enable vertical scrolling */
  max-height: 150px; /* Set a maximum height */
}

.login-box3 h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.user-box::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.user-box::-webkit-scrollbar-thumb {
  background-color: rgba(
    255,
    255,
    255,
    0.625
  ); /* Color of the thumb (the draggable part) */
}

.user-box::-webkit-scrollbar-track {
  background-color: rgba(
    71,
    69,
    69,
    0.222
  ); /* Color of the track (the non-draggable part) */
}
ul {
  text-align: start;
}
.user-box2 .nav-linkl {
  display: block;
  line-height: 0;
  color: #fbeaea;
  text-decoration: overline;
  font-size: 18px;
  transition: color 0.3s ease;
}

.user-box2 .nav-linkl:hover {
  color: #03e9f4; /* Change the color on hover */
}

.user-box2 h2 {
  margin: 20px 0;
  color: #fff;
  font-size: 24px;
}
